* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $very-dark-desaturated-blue;
}
a {
	text-decoration: none;
	transition: all .3s ease;
}
ul {
	list-style-type: none;
}
h2 {
	font-size: 3em;
	font-weight: 900;
}